<h1>Use this. It's awesome<h1>
  <form action="/title">
    <div class="form-group">
      <label for="title">What title would you like me to put into title             case because you are too lazy to google how to do it?</label>
        <input id="title" name="title" class="form-control" type="text">
    </div>
    <button type="submit" class="btn-success">Send</button>
  </form>
