<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title>Title Case</title>
  </head>

  <body>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>

</html>
